<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header-item">
                <li class="main-header__item">Home</li>
                <li class="main-header__item">Portfolio</li>
                <li class="main-header__item">Upcoming Projects</li>
                <li class="main-header__item">Contact</li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main-items">
            <div class="my-story"><h1>Who Am I?</h1>
            </div>
            <div class="definition-area">
                <div>some dummy text</div>
                <div class="my-cronology">
                    <div><h3>My Story</h3></div>
                    <div class="scroll-all">
                    <div class="scroll-box">
                        <div class="line-to-the-sun1"></div>
                        <div class="sun"></div>
                        <div class="line-to-the-sun"></div>
                    </div>
                    <div class="scroll-box-real">
                        <div class="scroll-texts">born on December 1992 in Ankara</div>
                        <div class="scroll-texts">had video gaming as hobby in 2003</div>
                        <div class="scroll-texts">became a member of Turkish Art music chort in 2014</div>
                        <div class="scroll-texts">had B.Sc. in food engineering in 2015</div>
                        <div class="scroll-texts">started M.Sc. in food enginering in 2015</div>
                        <div class="scroll-texts">participated in a funded scientic search</div>
                        <div class="scroll-texts">dropped out of university in 2016</div>
                        <div class="scroll-texts">started to work as sales representative in 2017</div>
                        <div class="scroll-texts">started to work as Data Analyst in 2020</div>
                        <div class="scroll-texts">started to work as Software QA in 2020</div>
                        <div class="scroll-texts">started to work as Full Stack Developer in 2021</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
<footer>
    <span class="footer-item">Görkem's first Node.js based website. 2021</span>
</footer>

</html>